* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.testediv {
    max-width: 500px;
}

#second {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: display 2s,visibility 1s, opacity 1s linear;
}

#first {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: display 2s,visibility 1s, opacity 1s linear;
}

.testediv>.block {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition: display 2s,visibility 1s, opacity 1s linear;
}

.testediv>.none {
    height: 0 !important;
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 1s, opacity 1s linear;
}